
.btnReg {
    background-color: #F27A67;
    height: 35px;
    width: 80px;
    border-radius: 8px;
    font-weight: bolder;
    font-family: 'Lato Regular';
    color: #fff;
    margin: 20px 0 0 50px;
}

.btnReg:hover {
    transition: background-color 0.5s ease;
    background-color: #E6100E;
    border-radius: 5px;
    color: #000;
}

.title {
    font-weight: bolder;
    font-size: 26px;
}

#form {
    background-color: silver;
    width: 90%;
    padding: 0% 4%;
    box-sizing: border-box;
    border-radius: 30px;
    float: left;
    height: 400px;
}

#form2 {
      background-color: silver;
    width: 95%;
    padding: 0% 6%;
    box-sizing: border-box;
    border-radius: 30px;
    float: left;
    height: 369px;
}

#form3 {
    background-color: silver;
       width: 110%;
    padding: 0% 12%;
    box-sizing: border-box;
    border-radius: 30px;
    float: left;
    height: 369px;
}



.label{
       display: block;
    float: left;
   /* padding: 10px 0;*/
    margin: 28px 0 0 0;
}


.dato {
     display: block;
    width: 70px;
    text-align: center;
    margin: 21px 0 0 0;
    transition: all .4s .1s;
   /* padding: 7px 29px;*/
    outline: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 5px;
    border: solid 2px #999999;
    float: right;
    
}

.dato:focus:invalid {
    border-color: red;
    background: url(../img/cancel%20.png) no-repeat center left 90%;
}

.dato:focus:valid {
    border-color: green;
    background: url(../img/check.png) no-repeat center left 90%;
}

.divBody{
    width: 90%;
    height: 400px;
    margin: 115px 0px 0px 64px;
   /* background: #000;*/
    display: flex;
}

.divB1{
   /* background: red;*/
    width: 35%;
      height: 400px;
    float: left;
}

.b1In{
    width: 30%;
    float: left;
    height: 350px;
}

.b1text{
    width: 70%;
    float: right;
    height: 350px;
}
.b2In{
    width: 30%;
    float: left;
    height: 350px;
}

.b2text{
    width: 70%;
    float: right;
    height: 350px;
}

.b2text .label{
    
        margin: 7px 0px 0px 0px;
}
.b2In .dato{
    margin: 6px 0 0 0;
    width: 100px;
}

.divB2{
/*    background: green;*/
    width: 30%;
      height: 400px;
    float: right;
}

.divB3{
    
    width: 25%;
      height: 400px;   
}
    

