#bottons {
    display: block;
    text-align: center;
    padding: 10px 0px 15px 0px;
    clear: both;
}

.btnReg {
    background-color: #F27A67;
    height: 35px;
    width: 80px;
    border-radius: 8px;
    font-weight: bolder;
    font-family: 'Lato Regular';
    color: #fff;
    
}

.btnReg:hover {
    transition: background-color 0.5s ease;
    background-color: #E6100E;
    border-radius: 5px;
    color: #000;
}

#contentForm {
    background-color: #99A3A4 ;
    width: 100%;
    margin: auto;
    display: block;
    border: 2px solid #9C9898;
    border-radius: 30px;
}

#contentFormUser {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #68FCF2), color-stop(1, #949494));
    background-image: -o-linear-gradient(bottom, #68FCF2 0%, #949494 100%);
    background-image: -moz-linear-gradient(bottom, #68FCF2 0%, #949494 100%);
    background-image: -webkit-linear-gradient(bottom, #68FCF2 0%, #949494 100%);
    background-image: -ms-linear-gradient(bottom, #68FCF2 0%, #949494 100%);
    background-image: linear-gradient(to bottom, #68FCF2 0%, #949494 100%);
    width: 100%;
    margin: auto;
    display: block;
    border: 2px solid #9C9898;
    border-radius: 30px;
}

#formReg {
    width: 100%;
}

.title {
    font-weight: bolder;
    font-size: 26px;
}

#form {
    width: 70%;
    padding: 0% 4%;
    box-sizing: border-box;
    border-radius: 30px;
    float: left;
}

#FormR{
    float: right;
}
#FormL{
    float: left;    
}

.label{
     padding: 0px 10px;
    display: block;
}


.dato {
    display: block;
    width: 15%;
    text-align: center;
    margin: 5px;
    transition: all .4s .1s;
    padding: 0px 6px;
    outline: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 5px;
    border: solid 2px #999999;
    
}

.dato:focus:invalid {
    border-color: red;
    background: url(../img/cancel%20.png) no-repeat center left 90%;
}

.dato:focus:valid {
    border-color: green;
    background: url(../img/check.png) no-repeat center left 90%;
}

