/*Elementos generales de la pagina*/

* {
    margin: 0;
    padding: 0;
}


/*** fonts ***/

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'), url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'), url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.ttf) format('truetype'), url(../fonts/Lato-Light.woff) format('woff'), url(../fonts/Lato-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.eot);
    src: local('Lato Regular'), local('Lato-Regular'), local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype'), url(../fonts/Lato-Regular.svg#Lato) format('svg'), url(../fonts/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato Black';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(../fonts/Lato-Black.ttf) format('truetype'), url(../fonts/Lato-Black.woff) format('woff'), url(../fonts/Lato-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato Light Italic';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(../fonts/Lato-Light-Italic.ttf) format('truetype'), url(../fonts/Lato-Light-Italic.woff) format('woff'), url(../fonts/Lato-Light-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'hero_lightlight';
    src: url('../fonts/hero_light-webfont.woff2') format('woff2'), url('../fonts/hero_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroregular';
    src: url('../fonts/hero-webfont.woff2') format('woff2'), url('../fonts/hero-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-attachment: fixed;
    font-family: 'hero_lightlight';
    background-image: <img src="img/123.png">;
}

.contenedor {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #14DAFB;
}


/*Fin de los elementos generales*/


/*Elementos del header de la pagina*/

header {
    background: #bec2c4;
    width: 98%;
    position: fixed;
    margin: 12px 12px 12px 12px ;
    box-shadow: 0 5px 3px #313131, 0 5px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
    height: 14%;
    margin-bottom: 15px;
    clear: both;
    border-radius: 8px;
}

nav {
    background: #0E5324;
    position: relative;
    margin: 0px 0px 0px 0px;
    clear: both;

}

nav img {
    position: relative;
    z-index: 123;
    padding: 6px 10px;
    float: left;
    margin: -15px 0px 0px 60px;
    width: 120px;
}

#body img {
    width: 100%;
    height: 648px;
}

.logUCR {
    width: 80px;
    margin: auto;
    padding: 5px 10px;
    float: left;
    margin: 0px 0px 0px 100px
}


/*Fin de los elementos del header*/


/**********************************************************************************************/


/*Elementos del section de la pagina*/

section {
    width: 100%;
    height: 35%;
}


#bodySection {
    margin: 165px 0px 0px 0px;
    width: 100%;
    height: 375px;
    background: #fff;
}

#bodySection .items {
    width: 80%;
    height: 300px;
    margin: auto;
    padding-top: 15px;
}

#bodySection .item {
    width: 100%;
    height: 250px;
    padding: 0 5px;
}


#home {
    background: #fff;
    padding: 20px;
    margin: 110px 0px 0px 0px;
    box-sizing: border-box;
    align-content: flex-start;
}

}
.mainPage {
    margin: auto;
    box-sizing: border-box;
    align-content: flex-start;
}
display: list-item;
.container-main {
    background: #fff;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: block;
    text-align: center;
    height: 550px;
}
.container-main <h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    position: relative;
    top: 325px;
    font-size: 55px;
    color: #fff;
    font-family: 'Lato Regular';
    font-weight: bold;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    text-shadow: 3px 5px 3px rgba(0, 0, 0, 1);
    text-align: center;
}


/*Fin de los elementos del section*/

/*************************************************************************************8**/

/*Elementos del footer de la pagina*/
footer {
    background: #0E5324;
    clear: both;
    float: left;
    box-sizing: border-box;
    margin: 12px 12px 12px 12px;
    width: 98%;
    height: 85px;
    border-radius: 8px;

}
.texto1 {
    font-family: 'Lato Light';
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    display: block;
    color: white;
}


/*fin de los elementos del footer*/

/*medias*/
@media all and (max-width:900px) {
    #bodySections {
        height: 900px;
    }
    
    #bodySections .items p {
        font-size: 20px;
    }
}
@media all and (max-width:700px) {
    #bodySections .items>h2 {
        font-size: 30px;
    }
    nav img {
    position: relative;
    z-index: 123;
    padding: 0px 10px;
    float: left;
    margin: 0px 0px 0px 3px;
    }
    
    .contentImg {
        width: 100%;
        height: 330px;
    }
    
    #bodySection {
        height: 700px;
    }
    
    #bodySection .items p {
        font-size: 16px;
    }
    
    

    
}


.contenedorControlEnfermedades{
        background-color:#99A3A4;
    margin: 0 16% 0 16%;
text-align: center;   
    border-radius: 9px;
    }

.tablaControlEnfermedades{
    width: auto;
        border-radius: 9px ;

}

.buttonsdiv{
    text-align: center;
        margin:10px 0 0 0;
}